@charset "UTF-8";

@font-face {
    src: url("../fonts/sans.ttf");
    font-weight: normal;
    font-family: IRANSans;
}

* {
    font-family: IRANSans;
}

body {
    font-size: 14px;
}

a {
    color: #444;
}

a:hover {
    text-decoration: none !important;
}

ul li {
    list-style: none;
}

.rtl {
    direction: rtl;
}

.primary-button {
    border-radius: 7px;
    padding: 10px 30px;
    background-color: #1ac9770f;
    color: #1ac977;
    border: unset;
}

.primary-button:hover {
    background-color: rgba(26, 201, 119, 0.14);
    color: #1ac977;
}

.primary-button a {
    color: white;
}


.primary-button a:hover {
    color: white !important;
}

.title {
    margin: 3px 0px 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.title h1 {
    font-size: 22px;
    color: #444;

}

.toman {
    font-size: 10px;
    color: #777;
    font-weight: normal;
}

.price .old-price {
    text-decoration: line-through;
    color: #777;
    font-size: 13px;
}

.logo {
    color: #da3d64;
    font-weight: bold;
}

header .search form {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px 20px;
    border: 1px solid #eee;
}

header .search form button {
    border-radius: 7px;
    border: 1px solid transparent;
    padding: 7px 21px;
    background-color: #da3d64;
    color: white;
    border-radius: 10px;
}

header .search form button:hover {
    background-color: #bf254b;
}

header .search form input {
    border: none;
    background-color: transparent;
    text-align: right;
    direction: rtl;
    padding: 10px;
    outline: none;
}

header .menu-btn button {
    border: none;
    background-color: white;
    color: #777;
    border-radius: 7px;
    font-size: 16px;
}

header .menu-btn button div {
    width: 17px;
    height: 2px;
    background-color: #555;
    border-radius: 10px;
    margin: 4px;
}

header .menu-btn button div:nth-child(2) {
    width: 13px;
}

header .menu-btn-close button {
    overflow: hidden;
}

header .menu-btn-close button div {
    transition: 0.2s;
}

header .menu-btn-close button div:nth-child(1) {
    transform: rotate(-40deg) translateX(-25%);
    width: 12px;
}

header .menu-btn-close button div:nth-child(2) {
    transform: translateX(1000%);
}

header .menu-btn-close button div:nth-child(3) {
    transform: rotate(40deg) translateX(-25%);
    width: 12px;
}

header .open-menu {
    right: 0;
}

header nav i {
    font-size: 10px !important;
}

header nav ul li {
    margin: 0 10px;
    position: relative;
}

header nav ul li:hover .cat-dropdown {
    top: 100%;
    opacity: 1;
    pointer-events: unset;
}

header nav ul li .cat-dropdown {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    text-align: right;
    background-color: white;
    width: fit-content;
    z-index: 999;
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
}

header nav ul li .cat-dropdown a {
    padding: 5px 10px;
    font-size: 14px !important;
    cursor: pointer;
}

header nav .list-group-item {
    border-color: #eee;
}

.carouselTop .swiper-button-next,
.carouselTop .swiper-button-prev {
    color: #333;
}

.carouselTop .swiper-button-next:after,
.carouselTop .swiper-button-prev:after {
    font-size: 24px;
    font-weight: bold;
}

.banners {
    height: 600px;
    overflow: hidden;
}

.banners .squareBanner div {
    height: 50%;
}

.banners .squareBanner div img {
    height: 100%;
    object-fit: cover;
}

.slider-sug {

    border-radius: 20px;
}

.slider-sug .sug-slider-item {
    border-radius: 8px;
    overflow: hidden;
}

.slider-sug .sug-slider-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slider-sug .swiper-button-prev,
.slider-sug .swiper-container-rtl .swiper-button-next {
    left: -28px;
}

.slider-sug .swiper-button-next,
.slider-sug .swiper-container-rtl .swiper-button-prev {
    right: -28px;
}

.slider-sug .swiper-sug-next,
.slider-sug .swiper-sug-prev {
    color: #848484;
    position: absolute !important;
    bottom: 0 !important;
    border-radius: 5px;
    left: -25px;
}

.slider-sug .swiper-sug-next:after,
.slider-sug .swiper-sug-prev:after {
    font-size: 24px;
}

.product-items {
    margin: 5px;
    width: calc(20% - 10px);
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
}

.product-items .pro-info {
    background-color: transparent !important;
}

.product-items .pro-info .primary-button {
    padding: 10px 5px;
    background-color: #da3d64;
}

.product-items .pro-info .primary-button:hover {
    background-color: #d52953;
}

.product-items .pro-info .primary-button a {
    font-size: 10px;
    color: white;
}

.product-items a img {
    border-radius: 10px 10px 0 0;
}

.product-items button {
    transform: translateX(-200%);
    opacity: 0;
    transition: 0.2s;
}

.product-items:hover button {
    opacity: 1;
    transform: translateX(0);
}

.color-chosen {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    margin: 2px;
    border-radius: 20px;
    transition: 0.2s;
    border: 1px solid #ccc;
}

.filter-btn button {
    border: none;
    background-color: transparent;
    color: #777;
    border-radius: 7px;
    text-align: center;
    padding: 7px 15px;
    font-size: 14px;
}

.filter-btn button:focus {
    background-color: #f5f5f5;
    outline: none;
}

footer {
    background-color: #f5f5f5;
}

footer ul {
    margin: 0 10px;
}

footer ul h4 {
    color: #000000;
    font-size: 16px;
    margin-bottom: 25px;
}

footer ul li {
    color: #777;
    font-size: 14px !important;
    margin: 18px 0;
}

footer ul li a {
    color: #777 !important;
    font-size: 14px;
}

footer ul li a:hover {
    color: #444 !important;
}

footer ul iframe {
    border-radius: 10px;
}

.shop_area .product-items {
    width: calc(25% - 10px);
    overflow: hidden;
}

.shop_area .filter-search .filter-search-input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #eee;
    text-align: right;
}

.shop_area .filter-search .filter {
    border: 1px solid #ddd;
    background-color: white;
    /*height: 100vh;*/
    transition: 0.3s;
    /*position:sticky !important;*/
    /*position: -webkit-sticky ;*/
    /*top:100px !important;*/
}

.shop_area .filter-search .filter-dropdown ul li input {
    float: right;
    padding-left: 5px !important;
    background: transparent !important;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 0;
}

.shop_area .filter-search .filter-checkboxes li:hover {
    background-color: #f8f8f8;
    transition: 0.2s;
    border-radius: 5px;
}

.shop_area .filter-search .filter-checkboxes li {
    background-color: white;
    color: #272727;
    position: relative;
    transition: 0.1s;
}

.shop_area .filter-search .filter-checkboxes li label {
    width: 100%;
    position: relative;
    text-align: right;
    cursor: pointer;
    color: #777;
}

.shop_area .filter-search .filter-dropdown ul li input:checked~label:after {
    background-color: #da3d64;
    border-radius: 15px;
}

.shop_area .filter-search .filter-checkboxes li label:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 2px 3px;
}

.shop_area .filter-search .filter-dropdown ul li input:checked~label {
    color: #da3d64;
    font-weight: 900;
}

.shop_area .filter-search .filter-color {
    border-radius: 50%;
    height: 25px !important;
    cursor: pointer;
    padding: 20px !important;
    margin: 20px 5px !important;
    width: calc(20% - 10px);
}

.shop_area .filter-search .catagor-li>ul>li {
    position: relative;
}

.shop_area .filter-search .catagor-li>ul>li:after {
    position: absolute;
    content: "";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 700;
    text-decoration: inherit;
    top: 0;
    right: -15px;
    color: #000;
    padding-left: 5px;
    font-size: 13px;
}

.shop_area .filter-search .color-container {
    width: 80%;
    height: 20px;
    margin: 0 auto !important;
}

.shop_area .filter-search .blue {
    background-color: #005498;
}

.shop_area .filter-search .lightblue {
    background-color: #1ac4bc;
}

.shop_area .filter-search .black {
    background-color: black;
}

.shop_area .filter-search .gray {
    background-color: #707070;
}

.shop_area .filter-search .brown {
    background-color: #272020;
}

.shop_area .filter-search .filter-dropdown input[type=range] {
    width: 80%;
    margin: 15px 25px;
    padding: 0 !important;
    -webkit-appearance: none;
    border-radius: 8px;
    height: 11px;
    border: 1px solid #aaa;
    background-color: #fff;
}

.shop_area .filter-search input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 25px;
    border-radius: 30px;
    background-color: #008202;
}

.shop_area .filter-search .filter-dropdown input[type=text] {
    border: none;
    border-bottom: 2px solid green;
    color: green;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.shop_area .filter-search .filter-dropdown {
    background-color: white;
    width: 100%;
    /*  height:0;*/
    transition: 0.5s;
}

.shop_area .filter-search .filter-dropdown ul li {
    border: none;
}

.shop_area .filter-search .filter-dropdown ul li a {
    color: #8B8B8B;
}

.shop_area .filter-search .drop-toggle {
    height: 40vh !important;
}

.product-details-area .title {
    white-space: unset !important;
}

.product-details-area .price .old-price {
    text-decoration: line-through;
    color: #777;
    font-size: 14px;
}

.product-details-area .price .new-price {
    color: #da3d64;
    font-size: 18px;
    font-weight: bold;
}

.product-details-area .product-buy-btn .quickview-btn-cart div {
    background-color: #da3d64;
    padding: 15px 40px;
    border-radius: 5px;
    text-align: center;
}

.product-details-area .product-buy-btn .quickview-btn-cart div:hover {
    background-color: #bf254b;
}

.product-details-area .product-buy-btn .quickview-btn-cart div:hover a {
    color: white !important;
}

.product-details-area .product-buy-btn .quickview-btn-cart div a {
    color: white;
    font-size: 14px;
}

.product-details-area .swiper-button-next,
.product-details-area .swiper-button-prev {
    color: #333;
}

.product-details-area .swiper-button-next:after,
.product-details-area .swiper-button-prev:after {
    font-size: 24px;
    font-weight: bold;
}

.product-details-area .product img {
    border-radius: 7px;
}

.product-details-area .product-overview p {
    color: #777;
    font-size: 14px;
    margin-bottom: 0;
}

.product-details-area .product-overview p ul {
    padding-right: 0;
}

.product-details-area #dis {
    font-size: 14px;
    background-color: #da3d64;
    color: white;
    padding: 8px 10px;
    border-radius: 7px;
    float: left;
}

.product-details-area .size label {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    margin: 0 5px;
    color: #777;
}

.product-details-area .size label:hover {
    background-color: #f5f5f5;
    color: #444;
}

.product-details-area .size .radio-border {
    background-color: #ffebef !important;
    color: #da3d64 !important;
    border: 1px solid #ffd2db;
}

.cart-items-table {
    border-top: 1px solid #eee;
}

.product-cart-icon a {
    cursor: pointer;
    padding: 7px;
    border-radius: 3px;
}

.product-cart-icon a:hover {
    background-color: #f5f5f5;
}

.shop-total {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.shop-total ul li {
    font-size: 13px;
}

.shop-total ul li span {
    color: #777;
    font-size: 14px;
}

.shop-total ul li .price {
    color: #444;
}

.shop-total .cart-btn-container .buy-btn {
    border-radius: 7px;
    padding: 15px 20px;
    background-color: #1ac977;
    color: white;
}

.shop-total .cart-btn-container .buy-btn:hover {
    background-color: #1ac977 !important;
    color: white !important;
}

.shop-total .cart-btn-container .add-btn {
    color: #333;
    border-radius: 7px;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #ebebeb;
}

.shop-total .cart-btn-container .add-btn:hover {
    background-color: #e1e1e1;
}

.whatsapp {
    background-color: #005b61;
    padding: 10px 15px;
    border-radius: 7px;
    vertical-align: center;
}

.whatsapp span {
    color: #39e002;
    font-size: 26px;
}

.whatsapp a {
    color: white !important;
    padding-right: 15px;
}

.whatsapp a:hover {
    color: white !important;
}

.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 10px 15px;
    border-radius: 7px;
    vertical-align: center;
}

.instagram span {
    color: white;
    font-size: 26px;
}

.instagram a {
    color: white !important;
    padding-right: 15px;
}

.instagram a:hover {
    color: white !important;
}

.telegram {
    background: #359bd2;
    padding: 10px 15px;
    border-radius: 7px;
    vertical-align: center;
}

.telegram span {
    color: white;
    font-size: 26px;
}

.telegram a {
    color: white !important;
    padding-right: 15px;
}

.telegram a:hover {
    color: white !important;
}

.posts-tracking {
    position: fixed;
    bottom: 0;
    right: 50px;
    background-color: #08317d;
    border-radius: 10px 10px 0 0;
    z-index: 100;
    padding: 10px 20px;
    font-size: 14px;
}

.posts-tracking a {
    color: white !important;
}

@media only screen and (max-width: 768px) {

    .product-items {
        width: calc(50% - 10px);
    }

    .banners {
        height: 500px;
    }

    iframe {
        width: 100%;
    }

    .gallery-thumbs {
        margin-top: -30px !important;
        padding: 20px 15px !important;
        border-radius: 19px;
        background-color: white;
    }

    .form-check-label {
        font-size: 14px !important;
    }

    footer ul h4 {
        font-size: 14px;
    }

    footer ul li a {
        font-size: 12px !important;
    }

    .color a {
        font-size: 12px !important;
    }

    .shop_area .product-items {
        width: calc(50% - 10px);
    }

    .filter {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: white;
        z-index: 999;
        height: 100vh;
        padding: 10px;
        width: 70%;
        overflow-y: scroll;
    }

    .open-filter {
        right: 0;
    }

    .filter ul li i {
        float: left;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        font-size: 12px !important;
    }

    header {
        position: sticky !important;
        z-index: 99;
        top: 0;
        background-color: white;
    }

    .product-items {
        width: calc(25% - 10px);
    }

    .banners {
        height: 500px;
    }

    iframe {
        width: 100%;
    }
}

#header {
    background-color: white
}


.img-discount {
    position: absolute;
    top: 20px;
    left: 0;
    background: #f16422;
    color: white;
    padding: 7px 16px 3px 11px;
    font-size: 15px;
    border-radius: 0px 20px 20px 0;
}

/*ali*/

.nav-mobile {
    width: 100%;
    height: 70px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    font-size: 12px;
    display: none;
    border: 1px solid #eee;

}

.nav-mobile>a {
    margin-top: 10px;
    color: #777;
}

.nav-mobile img {
    opacity: 0.7;
}

.mobile-menu {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    overflow: scroll
}

i {
    font-style: unset;
}

.logo-mobile {
    display: none;
    text-align: center;
}

.index-suggest-title {
    font-size: 24px;
    font-weight: bold;
}

.index-remaining-time {
    text-align: left;
    font-size: 13px;
    color: #909090;
}

.index-counter {
    direction: ltr;
    color: #f16422;
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}

.list-pro-name {
    margin-bottom: 5px;
    margin-top: 4px;
    color: #848484
}

.new-price {
    color: #00bf6f;
    font-size: 16px
}

.colors {
    margin-top: 6px;
}

.see-all-btn {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    color: #00bf6f;
    border: 1px solid #00bf6f;
    padding: 10px 60px;
    border-radius: 30px;
    cursor: pointer;
}

.see-all-btn:hover {
    background-color: #00bf6f;
    color: white;
}

#content .swiper-button-next,
#content .swiper-button-prev {
    color: black;
    /*background-color: white;*/
    border-radius: 5px;
    opacity: 0.8;
    padding: 15px;
}

#content .swiper-button-next:after,
#content .swiper-button-prev:after {
    font-size: 20px;
    font-weight: bold;
    color: #676767;
}

.back-button {
    padding: 10px 30px;
}

.back-button img {
    transform: rotate(180deg);
    width: 13px;
}

.levels span {
    color: #999;
    text-align: center;
}

.levels img {
    filter: grayscale(100%);
}

.current-lev span {
    color: #333;
    font-weight: bold;

}

.current-lev img {
    filter: grayscale(0);
}

.current-line-lev {
    border-top: 1px solid #61daa1 !important;
}

.line-lev {
    width: 50px;
    height: 1px;
    border-top: 1px dashed #999;
}

.profile-back-img {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu a {
    padding: 10px !important;
}

.dropdown-menu a:hover {
    background-color: #eee !important;
}

.slide-pro-more {
    padding-top: 10px
}

.suggest-title {
    color: white;
    font-size: 35px;
}

.suggest-timer {
    direction: ltr;
    color: white;
    font-size: 18px;
    margin: 0
}

.suggest-timer-span {
    font-size: 18px;
    color: #ffffff;
    margin-right: 6px;
}

.timer-container {
    background: #dc3545
}

@media only screen and (max-width: 768px) {


    .suggest-timer {
        color: #2a2a2a;
    }

    .timer-container {
        background: #ffffff
    }

    .suggest-timer-span {
        font-size: 14px;
        margin-right: 0;
        color: #2a2a2a;
    }

    .suggest-title {
        font-size: 20px;
    }

    .line-lev {
        width: 35px;
        height: 1px;
        border-top: 1px dashed #999;
    }

    .levels span {
        font-size: 12px;
    }

    .shipping-continue-btn {
        width: 100% !important;
        /*padding: 20px 40px !important;*/
    }

    .form-control {
        height: calc(2.5em + .75rem + 2px);
    }

    .product-thumbnail img {
        width: 70% !important;
        display: block;
        margin: 0 auto;
        border-radius: 7px;
    }

    .product-cart-icon {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bold;
    }

    .size-help {
        display: block;
        width: 100%;
        text-align: center;
    }

    .add-to-cart-btn {
        display: block;
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }

    .nav-mobile {
        display: flex !important;
    }

    .logo-mobile {
        display: block;
    }

    .slider-desktop {
        display: none;
    }

    .index-suggest-title {
        font-size: 18px;
        font-weight: bold;
    }

    .index-remaining-time {
        font-size: 14px;
    }

    .index-counter {
        font-size: 17px;
    }

    .img-discount {
        padding: 6px 12px 4px 6px !important;
        font-size: 13px !important;
    }

    .list-pro-name {
        font-size: 12px;
    }

    .new-price {
        font-size: 14px;
    }

    .old-price {
        font-size: 10px !important
    }

    .color-chosen {
        width: 14px;
        height: 14px;
    }

    .colors {
        margin-top: 8px;
    }

    .img-discount {
        top: 15px;
    }

    .list-pro-name {
        margin-bottom: 3px;
    }

    .add-cart-suggest {
        padding: 5px 45px !important;
        font-size: 11px !important;
        bottom: 12px !important;
        left: 7% !important;
    }

    .slide-pro-title {
        font-size: 18px !important;
    }

    .slide-pro-more {
        padding-top: 5px !important
    }

    .see-all-btn {
        font-size: 14px !important;
        padding: 8px 40px !important;
    }

    .detail-old-price {
        font-size: 18px !important
    }

}

@media only screen and (min-width: 769px) {
    .slider-mobile {
        display: none;
    }

}

.angle-left {
    float: left;
    margin-top: 14px;
    color: #636363;
    width: 10px;
}

.btn-link {
    color: #555;
    font-size: 14px;
}

.cat-dropdown {
    border: 1px solid #dedede;
}

.about {
    max-height: 54px;
    overflow: hidden;
}

.auto_search {
    color: #b9b9b9;
    margin-left: 30px;
    font-size: 12px;
    display: inline-block;
    width: 50px;
}

.select_search {
    background-color: #e1f8ed;
}

.nav-link {
    padding: .5rem .5rem !important;
}

.container {
    max-width: 1440px !important;
}
