@font-face {
    src: url("../fonts/IRANSansWeb(FaNum).ttf");
    font-weight: normal;
    font-family: IRANSans;
}

$primary-color: #da3d64;
$secondary-color: #da4769;
$bg-light: #f5f5f5;
$title: #444;
$sub: #777;

* {
    font-family: IRANSans;
}

body {
    font-size: 14px;
}

a {
    color: $title;

    &:hover {
        text-decoration: none !important;
        color: black !important;
    }
}

ul {
    li {
        list-style: none;
    }
}

.rtl {
    direction: rtl;

}

//Buttons
@mixin button {
    border-radius: 7px;
    border: 1px solid transparent;
    padding: 7px 21px;
    &:hover {
        background-color: darken($primary-color, 10%);
    }

}

.primary-button {
    @include button;
    background-color: $primary-color;
    color: white;

    a {
        color: white;

        &:hover {
            color: white !important;
        }
    }
}

//title
.title {

    h1 {
        font-size: 22px;
        //font-weight: bold;
        color: $title;
    }

    h3 {
        font-size: 14px;
        font-weight: bold;
        color: $title
    }
}

//toman
.toman {
    font-size: 10px;
    color: $sub;
    font-weight: normal;
}

//price
.price {
    .old-price {
        text-decoration: line-through;
        color: $sub;
        font-size: 12px;
    }

    .new-price {
        color: $primary-color;
        font-size: 16px;
        font-weight: bold;
    }
}

//LOGO
.logo {
    color: $primary-color;
    font-weight: bold;
}

header {
    .search {
        form {
            background-color: $bg-light;
            border-radius: 10px;
            padding: 5px 20px;
            border: 1px solid #eee;

            button {
                @include button;
                background-color: $primary-color;
                color: white;
                border-radius: 10px;
            }

            input {
                border: none;
                background-color: transparent;
                text-align: right;
                direction: rtl;
                padding: 10px;
                outline: none;
            }
        }
    }

    .menu-btn {
        button {
            border: none;
            background-color: white;
            color: #777;
            border-radius: 7px;
            font-size: 16px;

            div {
                width: 17px;
                height: 2px;
                background-color: #555;
                border-radius: 10px;
                margin: 4px;

                &:nth-child(2) {
                    width: 13px;
                }
            }
        }

    }

    .menu-btn-close {
        button {
            overflow: hidden;

            div {
                transition: 0.2s;

                &:nth-child(1) {
                    transform: rotate(-40deg) translateX(-25%);
                    width: 12px;
                }

                &:nth-child(2) {
                    transform: translateX(1000%);
                }

                &:nth-child(3) {
                    transform: rotate(40deg) translateX(-25%);
                    width: 12px;

                }
            }
        }
    }

    .mobile-menu {
        background-color: white;
        z-index: 999;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        transition: 0.4s;

        i {
            font-size: 18px;
            color: $title;
        }

        .cat-dropdown {
            display: none;
        }
    }

    .open-menu {
        right: 0;
    }

    nav {

        background-color: $bg-light;

        i {
            font-size: 10px !important;
        }

        ul {
            li {
                margin: 0 10px;
                position: relative;
                //overflow: hidden;
                //border-radius: 5px;
                position: relative;

                //&:after {
                //    position: absolute;
                //    bottom: 0;
                //    right: 0;
                //    height: 3px;
                //    width: 100%;
                //    transform: translateX(100%);
                //    transition: 0.2s;
                //    content: '';
                //    background-color: $primary-color;
                //    transform-origin: bottom right;
                //}

                //&:hover:after {
                //    transform: translateX(0);
                //    transform-origin: bottom left;
                //    .cat-dropdown{
                //
                //    }
                //}

                &:hover {

                    .cat-dropdown {
                        top: 100%;
                        opacity: 1;
                        pointer-events: unset;
                    }
                }

                .cat-dropdown {
                    position: absolute;
                    padding: 10px;
                    top: 0;
                    right: 0;
                    text-align: right;
                    background-color: white;
                    width: fit-content;
                    z-index: 999;
                    opacity: 0;
                    transition: 0.2s;
                    pointer-events: none;

                    a {
                        padding: 5px 10px;
                        font-size: 14px !important;
                        cursor: pointer;
                    }
                }
            }
        }

        .list-group-item {
            border-color: #eee;
        }

    }
}

//Carousel
.carouselTop {
    .swiper-button-next, .swiper-button-prev {
        color: #333;

        &:after {
            font-size: 24px;
            font-weight: bold;
        }
    }
}

//banner
.banners {
    height: 700px;
    overflow: hidden;

    .squareBanner {
        div {
            height: 50%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

//slider-sug
.slider-sug {
    background-color: $bg-light;
    border-radius: 20px;

    .slider-title {
        img {
            border-radius: 7px;
            height: 100%;
            object-fit: cover;
        }
    }

    .sug-slider-item {
        border-radius: 10px;
        overflow: hidden;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }


    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 0
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 0;
    }

    .swiper-sug-next, .swiper-sug-prev {
        color: #960308;
        background-color: rgba(0, 0, 0, 0.1);
        outline: transparent !important;
        position: absolute !important;
        bottom: 0 !important;
        border-radius: 5px;
        padding: 7px 20px;

        &:after {
            font-size: 18px;
        }
    }
}

//product-items
.product-items {
    margin: 5px;
    width: calc(20% - 10px);
    background-color: $bg-light;
    border-radius: 10px;
    overflow: hidden;

    .pro-info {
        background-color: transparent !important;

        .primary-button {
            padding: 10px 5px;
            background-color: $primary-color;

            &:hover {
                background-color: darken($primary-color, 5%);
            }

            a {
                font-size: 10px;
                color: white;
            }
        }
    }

    a {
        img {
            border-radius: 10px 10px 0 0;
        }
    }

    button {
        transform: translateX(-200%);
        opacity: 0;
        transition: 0.2s;
    }

    &:hover {
        button {
            opacity: 1;
            transform: translateX(0);
        }
    }
}


.colors {
    position: absolute;
    top: 5px;
    left: 10px;

}

.color-chosen {
    width: 25px;
    height: 20px;
    display: block;
    vertical-align: bottom;
    cursor: pointer;
    margin: 2.5px;
    border-radius: 5px;
    transition: 0.2s
}

.color-chosen:hover {
    width: 35px;
}

.filter-btn{
    //background-color: $bg-light;

    button{
        border:none;
        background-color: transparent;
        color:$sub;
        border-radius: 7px;
        text-align: center;
        padding: 7px 15px;
        font-size: 14px;
        &:focus{
            background-color: $bg-light;
            outline: none;
        }
    }

}

//footer
footer {
    background-color: $bg-light;

    ul {
        margin: 0 10px;

        h4 {
            color: $title;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        li {
            color: $sub;
            font-size: 14px !important;
            margin: 10px 0;

            a {
                color: $sub !important;
                font-size: 14px;

                &:hover {
                    color: $title !important;
                }
            }
        }

        iframe {
            border-radius: 10px;
        }
    }
}


//products-page
.shop_area {
    .product-items {
        width: calc(25% - 10px);
        overflow: hidden;


    }

    .filter-search {

        .filter-search-input {
            width: 100%;
            border-radius: 5px;
            padding: 10px;
            border: 1px solid #eee;
            text-align: right;
        }

        .filter {
            border: 1px solid #ddd;
            background-color: white;
            /*height: 100vh;*/
            transition: 0.3s;
            /*position:sticky !important;*/
            /*position: -webkit-sticky ;*/
            /*top:100px !important;*/

        }


        .filter-dropdown ul li input {
            float: right;
            padding-left: 5px !important;
            background: transparent !important;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 10px;
            opacity: 0;
        }

        .filter-checkboxes li:hover {
            background-color: #f8f8f8;
            transition: 0.2s;
            border-radius: 5px;
        }

        .filter-checkboxes li {
            background-color: white;
            color: #272727;
            position: relative;
            transition: 0.1s;
        }

        .filter-checkboxes li label {
            width: 100%;

            position: relative;
            text-align: right;
            cursor: pointer;

            color: $sub;
        }

        .filter-dropdown ul li input:checked ~ label:after {
            background-color: $primary-color;
            border-radius: 15px;
        }

        .filter-checkboxes li label:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            border: 1px solid #c6c6c6;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 2px 3px;
        }

        .filter-dropdown ul li input:checked ~ label {
            color: $primary-color;
            font-weight: 900;
        }

        .filter-color {
            border-radius: 50%;
            height: 25px !important;
            cursor: pointer;
            padding: 20px !important;
            margin: 20px 5px !important;
            width: calc(20% - 10px);
        }

        .catagor-li > ul > li {
            position: relative;
        }

        .catagor-li > ul > li:after {
            position: absolute;
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            font-weight: 700;
            text-decoration: inherit;
            top: 0;
            right: -15px;
            color: #000;
            padding-left: 5px;
            font-size: 13px;
        }

        .color-container {
            width: 80%;
            height: 20px;
            margin: 0 auto !important;
        }

        .blue {
            background-color: rgba(0, 84, 152, 1.00);
        }

        .lightblue {
            background-color: rgba(26, 196, 188, 1.00);
        }

        .black {
            background-color: rgba(0, 0, 0, 1.00);
        }

        .gray {
            background-color: rgba(112, 112, 112, 1.00);
        }

        .brown {
            background-color: rgba(39, 32, 32, 1.00);
        }

        .filter-dropdown input[type=range] {
            width: 80%;
            margin: 15px 25px;
            padding: 0 !important;
            -webkit-appearance: none;
            border-radius: 8px;
            height: 11px;
            border: 1px solid #aaa;
            background-color: #fff;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 15px;
            height: 25px;
            border-radius: 30px;
            background-color: #008202;
        }

        .filter-dropdown input[type=text] {
            border: none;
            border-bottom: 2px solid green;
            color: green;
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
        }

        .filter-dropdown {
              background-color: white;
              width: 100%;
            /*  height:0;*/
            transition: 0.5s;
        }

        .filter-dropdown ul li {
              border: none;
        }

        .filter-dropdown ul li a {
              color: #8B8B8B;
        }

        .drop-toggle {
              height: 40vh !important;
        }

    }
}

//Detail Page
.product-details-area {
    .price {
        .old-price {
            text-decoration: line-through;
            color: $sub;
            font-size: 14px;
        }

        .new-price {
            color: $primary-color;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .product-buy-btn {
        .quickview-btn-cart {
            div {
                background-color: $primary-color;
                padding: 15px 40px;
                border-radius: 5px;
                text-align: center;

                &:hover {
                    background-color: darken($primary-color, 10%);

                    a {
                        color: white !important;
                    }
                }

                a {
                    color: white;
                    font-size: 14px;
                }
            }
        }

    }

    .swiper-button-next, .swiper-button-prev {
        color: #333;

        &:after {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .product {
        img {
            border-radius: 7px;
        }
    }

    .product-overview {
        p {
            color: $sub;
            font-size: 14px;
            margin-bottom: 0;

            ul {
                padding-right: 0;
            }
        }
    }

    #dis {
        font-size: 14px;
        background-color: $primary-color;
        color: white;
        padding: 8px 10px;
        border-radius: 7px;
        float: left;
    }

    .size {
        label {
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid #eee;
            margin: 0 5px;
            color: $sub;

            &:hover {
                background-color: #eee;
                color: $title
            }
        }

        .radio-border {
            background-color: #eee !important;
            color: $primary-color !important;
        }
    }
}


//Responsive
@media only screen and (max-width: 768px) {
    body {
        p {
            font-size: 13px !important;
        }
    }
    header {
        position: sticky !important;
        z-index: 99;
        top: 0;
        background-color: white;
    }
    .product-items {
        width: calc(50% - 10px);
    }
    .banners {
        height: 500px;
    }
    iframe {
        width: 100%
    }
    .gallery-thumbs {
        margin-top: -30px !important;
        padding: 20px 15px !important;
        border-radius: 19px;
        background-color: white;
    }
    .form-check-label {
        font-size: 14px !important;
    }
    footer ul h4 {
        font-size: 14px;
    }
    footer ul li a {
        font-size: 12px !important;
    }
    .color a {
        font-size: 12px !important;
    }
    .shop_area{
        .product-items{
            width:calc(50% - 10px);
        }
    }
    .filter{
        position: fixed;
        top:0;
        right: -100%;
        background-color: white;
        z-index: 999;
        height: 100vh;
        padding: 10px;
        width: 70%;
        overflow-y: scroll;
    }
    .open-filter{
        right:0
    }
    .filter ul li i {
        float:left;
    }
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        font-size: 12px !important;
    }
    header {
        position: sticky !important;
        z-index: 99;
        top: 0;
        background-color: white;
    }
    .product-items {
        width: calc(25% - 10px);
    }
    .banners {
        height: 500px;
    }
    iframe {
        width: 100%
    }

}

